.card-viewer {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}

.border-item {
    z-index: 20;
    width: 220px;
}

.center-item {
    z-index: 50;
}

.left-item {
    margin-right: 20px;
}

.right-item {
    margin-left: 20px;
}

.blaring {
    background: rgba(57, 57, 57, 0.51);
}