.skill-item{
display: flex;
}
.skill-item-content{
    padding-top: 0.7em !important;
    padding-left: 1.5em !important;
}
.image-content{
    background: #3b9190;
    border-radius: 500px;
}

.image-content img{
    padding: 15px;
}
.skill-item-content > .header{
    font-weight: bold;
    font-size: 1.1em;
    justify-content: center;
}