.home-background {
    background: #C3E0E5;
}

.home-container {
    height: 100% !important;
    padding-top: 5%;
    z-index: 1000;
}

.home-background-image {
    background: rgba(0, 0, 0, 0) !important;
    border: none !important;
    box-shadow: none !important;
}

.home-background-text {
    background: rgba(0, 0, 0, 0) !important;
    border: none !important;
    box-shadow: none !important;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15% !important;

}


.home-have-account-style {
    align-items: center !important;
    display: flex !important;
    padding-left: 0px !important;
}

.home-segment {
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.8), 0 8px 50px 0 rgba(0, 0, 0, 0.9) !important;
}

.center {
    text-align: center;
}

.home-section2-divider {
    margin-top: 10% !important;
}

.header-gray-section {
    color: #707070 !important;
    padding-bottom: 5% !important;
}

.home-city-image {
    width: 100px !important;
    padding-bottom: 50px !important;
    max-width: none !important;
}

.home-city-image-header {
    margin-top: -45px !important;
}

.section3-container {
    border-top: 3px solid #b5d2d7;
    padding-bottom: 7%;
}

.section4-container {
    border-top: 3px solid #b5d2d7;
    padding-bottom: 7%;
}

.home-s3-header {
    padding-bottom: 30px !important;
}

.framework-group-section {
    padding-top: 60px;
}

.chatting-button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    z-index: 1000000;
    background: rgba(246, 246, 246, 0.91);
    padding: 8px;
    border: 2px solid rgba(25, 25, 25, 0);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.15), 0 8px 50px 0 rgba(0, 0, 0, 0.30) !important;
    cursor: pointer;
    cursor: pointer;
}

.chatting-button:hover {
    border: none;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.8), 0 8px 50px 0 rgba(0, 0, 0, 0.9) !important;
}

.chatting-box {
    border-radius: 10px 10px 25px 10px;
}
