
.background-login-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url(http://bit.ly/2gPLxZ4);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

/*
Thanks to: Usama Tahir
https://medium.com/@AmJustSam
*/

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

/* CSS which you need for blurred box */
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url(http://bit.ly/2gPLxZ4);
    width: 100%;
    height: 100%;
    letter-spacing: 0.02em;

    font-weight: 400;
    filter: blur(0px);
    -webkit-font-smoothing: antialiased;
}

.background-login-image .blurred-box {
    position: absolute;
    width: 80%;
    height: 400px;
    top: 28%;
    left: 10%;

    border-radius: 2px;
    overflow: hidden;
    box-shadow: inset 0 5px 5px 200px rgba(0, 0, 0, 0.85);
    filter: blur(0px);
}

.background-login-image .register-form-box {
    position: relative;
    width: 40%;
    height: 500px;
    top: 18%;
    left: 15%;
    border-radius: 2px;
    overflow: hidden;
    background-color: rgba(226, 226, 226, 0.98);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 12px 0 rgba(20, 20, 20, 0.3);
    text-align: center;
}

.background-login-image .text-register-style {
    color: #43c5b8;
    font-size: 2em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
}