.client-card{
    background: rgba(0, 0, 0, 0) !important;
    font-size: 1.1em;
}
.client-card img{
    border-radius: 100% !important;
}

.client-card .image{
    background: rgba(200, 0, 0, 0) !important;
}
.clear-border{
    border: none !important;
    box-shadow: none !important;
}
