.chatting-box {
    border: 5px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.input-container {
    background: #e6e6e6;
    height: 15%;
    padding: 3.5%;

}

.input-container input {
    height: 30px;
    width: 80% !important;
    padding-right: 20% !important;
    max-width: 80% !important;
}

.input-container i {
    margin-right: 20% !important;
    height: 22px !important;
    font-size: 0.8em;
    cursor: pointer;
    z-index: 10000000;
}

.msg-container {
    background: #f5f5f5;
    height: 85%;
    display: flex !important;
    flex-direction: column !important;
    overflow: auto;
    padding-bottom: 15px;
}

.msg-box {
    background: #b5d2d7;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
    font-size: 0.8em;
    width: max-content;
    border-radius: 15px;
    max-width: 80%
}

.msg-receiver {
    align-self: flex-end !important;
    margin-right: 10px;
}

.msg-sender {
    margin-left: 10px;
}

.chatting-box-header {
    background: #e6e6e6;
}

.chatting-box-header img {
    max-width: 30px;
    max-height: 30px;
    margin: 5px 5px 5px 10px;
}
.chatting-box-header span{
    align-self: center;
    font-weight: bold;
}