.error {
    background: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui .icon .button{
    height: 10px !important;
    width: 20px !important;
    padding: 0px !important;
}

button > i {
    font-size: 1em !important;
    text-align: center !important;
}
body {

}
.active > body{
    background: red;
    margin: 0;
    height: 100%;
    overflow: hidden;
}