.px-button {
    background: rgba(0, 0, 0, 0);
    color: #2a6766;
    border: 2px solid #4a4a4a;
    border-radius: 50px;
    min-width: 35px;
    min-height: 30px;
    font-size: 1.15em;
    padding: 5px 30px;
    outline: none;
    cursor: pointer;
}

.px-button:hover {
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.13), 0 8px 25px 0 rgba(0, 0, 0, 0.09);
}

.px-button:active {
    background-color: rgba(2, 15, 89, 0.06);
}

.square {
    align-self: center;
    border-radius: 5px;
    width: 90px;
    height: 120px;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    margin-left: 5px !important;
    margin-right: 5px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-top: 10px !important;
    color: #292929;
    border: 1px solid rgba(1, 11, 65, 0.67);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.15), 0 8px 25px 0 rgba(0, 0, 0, 0.1);
}

.square:hover {
    background: rgba(243, 243, 243, 0.35);
    border: none;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.31), 0 8px 25px 0 rgba(0, 0, 0, 0.2);
}


.square span {
    padding-top: 20px;
}

.grid-button {
    display: inline-flex !important;
    justify-content: center;
}

.icon-button {
    cursor: pointer;
    color: rgba(99, 107, 111, 0.4);
}

.icon-button:hover {
    color: #1e2325;
}

.link {
    color: #1d2123 !important;
}